<ion-view title="关于" id="about">
		<ion-nav-bar class="bar bar-header bar-light" align-title="center">
        <ion-nav-back-button class="button-clear"></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content has-bouncing="true" overflow-scroll="false" class="has-header">
        <img src="http://img.hb.aicdn.com/f4e79e2db4b0168c590cecdb104d431e054bd98e157f0b-BETrGd_fw658" width="100%" height="250px">
        <button id="page11-button14" class="button button-positive  button-block button-outline">检查更新v1.0.0</button>
        <a href="#" onclick="window.open('https://github.com/jeneser', '_system', 'location=yes'); return false;" id="page11-button15" class="button button-positive  button-block button-outline">@Jeneser GitHub</a>
    </ion-content>
</ion-view>
