<ion-view title="活动" id="activity">
    <ion-slide-box show-pager="false" on-slide-changed="slideChanged($index)">
        <!-- 活动 -->
        <ion-slide>
            <!-- 背景层快速拨号 -->
            <div class="fab-dial">
                <div ng-class="{'fab-bg': isShow}" ng-click="showDial()"></div>
                <div class="fab-group">
                    <ul class="fab-actions" ng-show="isShow">
                        <li>
                            <span>发布话题</span>
                            <i class="ion-pound"></i>
                        </li>
                        <li>
                            <span>写文章</span>
                            <i class="ion-edit"></i>
                        </li>
                        <li>
                            <span>随机读</span>
                            <i class="ion-shuffle"></i>
                        </li>
                    </ul>
                    <span class="fab-trigger" ng-click="showDial()">
                        <i class="icon ion-plus"></i>
                    </span>
                </div>
            </div>
            <ion-content has-padding='true' has-bouncing="true" overflow-scroll="false" class="has-header bg activity">
                <div class="item poster" ui-sref="tabsController.posterContent">
                    <div>
                        <h2>寻找校园最美微笑</h2>
                        <span class="progress open">查看详情</span>
                    </div>
                    
                    <img src="http://img.hb.aicdn.com/148289fbd1796bd61f8f05565d9df47f51ab62f891e978-QD9noH_fw658" alt="pic">
                    <p>
                        <span><i class="ion-android-time"></i>12月16日</span>
                        <span>由二狗团队主办</span>
                    </p>
                </div>
                <div class="item poster" ui-sref="tabsController.posterContent">
                    <div>
                        <h2>寻找校园最美微笑</h2>
                        <span class="progress open">查看详情</span>
                    </div>
                    
                    <img src="http://img.hb.aicdn.com/148289fbd1796bd61f8f05565d9df47f51ab62f891e978-QD9noH_fw658" alt="pic">
                    <p>
                        <span><i class="ion-android-time"></i>12月16日</span>
                        <span>由二狗团队主办</span>
                    </p>
                </div>
                <div class="item poster" ui-sref="tabsController.posterContent">
                    <div>
                        <h2>寻找校园最美微笑</h2>
                        <span class="progress end">已结束</span>
                    </div>
                    
                    <img src="http://img.hb.aicdn.com/148289fbd1796bd61f8f05565d9df47f51ab62f891e978-QD9noH_fw658" alt="pic">
                    <p>
                        <span><i class="ion-android-time"></i>12月16日</span>
                        <span>由二狗团队主办</span>
                    </p>
                </div>
                
                
            </ion-content>
        </ion-slide>
        <!-- 话题 -->
        <ion-slide>
            <!-- 背景层快速拨号 -->
            <div class="fab-dial">
                <div ng-class="{'fab-bg': isShow}" ng-click="showDial()"></div>
                <div class="fab-group">
                    <ul class="fab-actions" ng-show="isShow">
                        <li>
                            <span>发布话题</span>
                            <i class="ion-pound"></i>
                        </li>
                        <li>
                            <span>写文章</span>
                            <i class="ion-edit"></i>
                        </li>
                        <li>
                            <span>随机读</span>
                            <i class="ion-shuffle"></i>
                        </li>
                    </ul>
                    <span class="fab-trigger" ng-click="showDial()">
                        <i class="icon ion-plus"></i>
                    </span>
                </div>
            </div>
            <ion-content has-bouncing="true" overflow-scroll="false" class="has-header bg collection-list">
                <ion-refresher pulling-text="下拉刷新" on-refresh="slide.doRefresh()"></ion-refresher>
                <div class="spacer-1x"></div>
                <ion-list>
                    <ion-item class="item-avatar item-icon-right" ui-sref="tabsController.clubs">
                        <i>二</i>
                        <h2>二狗团队</h2>
                        <p>最受欢迎的二狗</p>
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </ion-item>
                    <ion-item class="item-avatar item-icon-right" ui-sref="tabsController.love">
                        <i>二</i>
                        <h2>二狗团队</h2>
                        <p>最受欢迎的二狗</p>
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </ion-item>
                </ion-list>
                <ion-list>
                    <ion-item class="item-avatar item-icon-right" ui-sref="tabsController.map">
                        <i>二</i>
                        <h2>二狗团队</h2>
                        <p>最受欢迎的二狗</p>
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </ion-item>
                    <ion-item class="item-avatar item-icon-right" ui-sref="tabsController.calendar">
                        <i>二</i>
                        <h2>二狗团队</h2>
                        <p>最受欢迎的二狗</p>
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </ion-item>
                    <ion-item class="item-avatar item-icon-right" ui-sref="tabsController.express">
                        <i>二</i>
                        <h2>二狗团队</h2>
                        <p>最受欢迎的二狗</p>
                        <i class="icon ion-chevron-right icon-accessory"></i>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-slide>
    </ion-slide-box>
    <ion-tabs class="tabs-top tabs-striped tabs-positive">
        <ion-tab ng-repeat="item in exploreTabs" on-select="selectTab($index)" title="{{item.name}}"></ion-tab>
    </ion-tabs>
</ion-view>
