<ion-view title="密码绑定" id="binding">
    <ion-nav-bar align-title="center" class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content padding="true" has-bouncing="true" overflow-scroll="false" class="has-header bg binding">
        <form id="">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="学号/一卡通号">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="教务处密码">
                </label>
            </div>
            <button class="button button-outline button-block button-positive">立即绑定</button>
        </form>
        <a ui-sref="page15" class="button button-stable button-small button-block button-clear">?帮助</a>
    </ion-content>
</ion-view>