<ion-view title="" id="classroom" hide-tabs="true">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <form id="page26-form8" class="list">
            <label class="item item-select" id="page26-select1">
                <span class="input-label">选择周次</span>
                <select>
                    <option>第一周</option>
                    <option>第二周</option>
                    <option>第三周</option>
                    <option>第四周</option>
                    <option>第五周</option>
                    <option>第六周</option>
                    <option>第七周</option>
                    <option>第八周</option>
                    <option>第九周</option>
                    <option>第十周</option>
                    <option>第十一周</option>
                </select>
            </label>
            <label class="item item-select" id="page26-select2">
                <span class="input-label">请选择星期</span>
                <select>
                    <option>星期一</option>
                    <option>星期二</option>
                    <option>星期三</option>
                    <option>星期四</option>
                    <option>星期五</option>
                    <option>星期六</option>
                    <option>星期日</option>
                </select>
            </label>
            <label class="item item-select" id="page26-select3">
                <span class="input-label">请选择节次</span>
                <select>
                    <option>第一节</option>
                    <option>第二节</option>
                    <option>第三节</option>
                    <option>第四节</option>
                    <option>第五节</option>
                </select>
            </label>
            <label class="item item-select" id="page26-select4">
                <span class="input-label">请选择教学楼</span>
                <select>
                    <option>1号教学楼</option>
                    <option>2号教学楼</option>
                    <option>3号教学楼</option>
                    <option>电气综合楼</option>
                    <option>理化综合楼</option>
                </select>
            </label>
            <label class="item item-input" id="page26-input15">
                <span class="input-label">验证码</span>
                <input type="text" placeholder="请输入验证码">
            </label>
            <button id="page26-button30" class="button button-positive  button-block">查询</button>
        </form>
    </ion-content>
</ion-view>