<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">联系我们</h1>
        <button class="button button-clear button-primary" ng-click="closeModal()"><i class="ion-close"></i></button>
    </ion-header-bar>
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <h2>意见反馈</h2>
                <p>如果你有好的意见建议，或是发现了某些bug，请在GitHub发布new issues，我们会以最短的时间给予回复。</p>
                <p>github地址:<a href="" ng-click="openUrl()">https://github.com/jeneser/hpuHelper</a></p>
            </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            <h2>交流群</h2>
            <p>qq群:2867483044</p>
          </div>
        </div>
        <div class="card">
          <div class="item item-text-wrap">
            <h2>广告合作</h2>
            <p>phone:18839130035</p>
            <p>qq:2867483044</p>
          </div>
        </div>
    </ion-content>
</ion-modal-view>