<ion-view title=""　id="ecard" hide-tabs="true">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content padding="true" has-bouncing="true" overflow-scroll="false" class="has-header">
        <form id="page28-form9" class="list">
            <label class="item item-input" id="page28-input17">
                <span class="input-label">学号</span>
                <input type="number" placeholder="一卡通号/学号">
            </label>
            <label class="item item-input" id="page28-input18">
                <span class="input-label">密码</span>
                <input type="password" placeholder="教务处密码">
            </label>
            <div class="spacer" style="width: 300px; height: 31px;"></div>
            <button id="page28-button31" class="button button-positive  button-block">查询</button>
        </form>
    </ion-content>
</ion-view>