<ion-view title="发现" id="explore">
	<ion-slide-box show-pager="false" on-slide-changed="slideChanged($index)">
		<!-- 精选 -->
        <ion-slide>
            <!-- 背景层快速拨号 -->
            <div class="fab-dial">
                <div ng-class="{'fab-bg': isShow}" ng-click="showDial()"></div>
                <div class="fab-group">
                    <ul class="fab-actions" ng-show="isShow">
                        <li>
                            <span>发布话题</span>
                            <i class="ion-pound"></i>
                        </li>
                        <li>
                            <span>写文章</span>
                            <i class="ion-edit"></i>
                        </li>
                        <li>
                            <span>随机读</span>
                            <i class="ion-shuffle"></i>
                        </li>
                    </ul>
                    <span class="fab-trigger" ng-click="showDial()">
                        <i class="icon ion-plus"></i>
                    </span>
                </div>
            </div>
            <ion-content has-bouncing="true" overflow-scroll="false" class="has-header bg explore-recommend">
                <ion-slide-box does-continue="true" auto-play="true" slide-interval="2000" show-pager="false" class="top-slide">
					<ion-slide>
						<img src="http://jenes.site/resource/topslider/600x225book.jpg">
					</ion-slide>
					<ion-slide>
						<img src="http://jenes.site/resource/topslider/600x225car.jpg">
					</ion-slide>
					<ion-slide>
						<img src="http://jenes.site/resource/topslider/600x225cards.jpg">
					</ion-slide>
				</ion-slide-box>
                <div class="spacer-1x"></div>
                <ion-card>
                    <div class="item item-body">
                        <div class="publisher">
                            <img src="img/avatar.png" alt="">
                            <span>黑咖啡</span>
                        </div>
                        <h2 class="title"><b>界面的不同部分分为子视图或包含</b></h2>
                        <p>Ionic遵循视图控制模式，通俗的理解和 Cocoa 触摸框架相似。在视图控制模式中，我们将界面的不同部分分为子视图或包含其他视图的...</p>
                        <p>
                          <a href="#" class="subdued">15 赞</a>
                          <a href="#" class="subdued">4 评论</a>
                        </p>
                    </div>
                </ion-card>
                <div class="spacer-1x"></div>
                <ion-card>
                    <div class="item item-body">
                        <div class="publisher">
                            <img src="img/avatar.png" alt="">
                            <span>黑咖啡</span>
                        </div>
                        <h2 class="title"><b>界面的不同部分分为子视图或包含</b></h2>
                        <p>Ionic遵循视图控制模式，通俗的理解和 Cocoa 触摸框架相似。在视图控制模式中，我们将界面的不同部分分为子视图或包含其他视图的...</p>
                        <p>
                          <a href="#" class="subdued">15 赞</a>
                          <a href="#" class="subdued">4 评论</a>
                        </p>
                    </div>
                </ion-card>
                <div class="spacer-1x"></div>
                <ion-card>
                    <div class="item item-body">
                        <div class="publisher">
                            <img src="img/avatar.png" alt="">
                            <span>黑咖啡</span>
                        </div>
                        <h2 class="title"><b>界面的不同部分分为子视图或包含</b></h2>
                        <img src="http://jenes.site/resource/cards.jpg" class="cover" alt="">
                        <p>Ionic遵循视图控制模式，通俗的理解和 Cocoa 触摸框架相似。在视图控制模式中，我们将界面的不同部分分为子视图或包含其他视图的...</p>
                        <p>
                          <a href="#" class="subdued">15 赞</a>
                          <a href="#" class="subdued">4 评论</a>
                        </p>
                    </div>
                </ion-card>
                <div class="spacer-1x"></div>
                <ion-card>
                    <div class="item item-body">
                        <div class="publisher">
                            <img src="img/avatar.png" alt="">
                            <span>黑咖啡</span>
                        </div>
                        <h2 class="title"><b>界面的不同部分分为子视图或包含</b></h2>
                        <p>Ionic遵循视图控制模式，通俗的理解和 Cocoa 触摸框架相似。在视图控制模式中，我们将界面的不同部分分为子视图或包含其他视图的...</p>
                        <p>
                          <a href="#" class="subdued">15 赞</a>
                          <a href="#" class="subdued">4 评论</a>
                        </p>
                    </div>
                </ion-card>
                <div class="spacer-1x"></div>
                <ion-card>
                    <div class="item item-body">
                        <div class="publisher">
                            <img src="img/avatar.png" alt="">
                            <span>黑咖啡</span>
                        </div>
                        <h2 class="title"><b>界面的不同部分分为子视图或包含</b></h2>
                        <p>Ionic遵循视图控制模式，通俗的理解和 Cocoa 触摸框架相似。在视图控制模式中，我们将界面的不同部分分为子视图或包含其他视图的...</p>
                        <p>
                          <a href="#" class="subdued">15 赞</a>
                          <a href="#" class="subdued">4 评论</a>
                        </p>
                    </div>
                </ion-card>
                <div class="spacer-1x"></div>
                <ion-card>
                    <div class="item item-body">
                        <div class="publisher">
                            <img src="img/avatar.png" alt="">
                            <span>黑咖啡</span>
                        </div>
                        <h2 class="title"><b>界面的不同部分分为子视图或包含</b></h2>
                        <img class="cover" src="http://jenes.site/resource/food.jpg" alt="">
                        <p>Ionic遵循视图控制模式，通俗的理解和 Cocoa 触摸框架相似。在视图控制模式中，我们将界面的不同部分分为子视图或包含其他视图的...</p>
                        <p>
                          <a href="#" class="subdued">15 赞</a>
                          <a href="#" class="subdued">4 评论</a>
                        </p>
                    </div>
                </ion-card>
            </ion-content>
        </ion-slide>
        <!-- 活动 -->
        <ion-slide>
            <!-- 背景层快速拨号 -->
            <div class="fab-dial">
                <div ng-class="{'fab-bg': isShow}" ng-click="showDial()"></div>
                <div class="fab-group">
                    <ul class="fab-actions" ng-show="isShow">
                        <li>
                            <span>发布话题</span>
                            <i class="ion-pound"></i>
                        </li>
                        <li>
                            <span>写文章</span>
                            <i class="ion-edit"></i>
                        </li>
                        <li>
                            <span>随机读</span>
                            <i class="ion-shuffle"></i>
                        </li>
                    </ul>
                    <span class="fab-trigger" ng-click="showDial()">
                        <i class="icon ion-plus"></i>
                    </span>
                </div>
            </div>
            <ion-content has-bouncing="true" overflow-scroll="false" class="has-header explore-activity">
                <div class="poster">
                    <div class="info">
                        <p>寻找校园“云”达人</p>
                        <span>124浏览</span>
                        <span>· 4喜欢</span>
                        <span class="tag">宣传海报</span>
                    </div>
                    
                    <img src="http://jenes.site/resource/600x300supman.jpg" alt="">
                </div>
                <div class="spacer-1x"></div>
                <div class="poster">
                    <div class="info">
                        <p>第十一届全校摄影大赛作品展-决赛投票</p>
                        <span>124 浏览</span>
                        <span>· 55 参与</span>
                        <span class="tag">投票</span>
                    </div>
                    <img src="http://jenes.site/resource/600x300space.jpg" alt="">
                </div>
                <div class="spacer-1x"></div>
                <div class="poster">
                    <div class="info">
                        <p>河南理工大学年度人物评选</p>
                        <span>124 浏览</span>
                        <span>· 55 参与</span>
                        <span class="tag">宣传海报</span>
                    </div>
                    <img src="http://jenes.site/resource/600x300music.jpg" alt="">
                </div>
                <div class="spacer-1x"></div>
                <div class="poster">
                    <div class="info">
                        <p>第十一届全校摄影大赛作品展-决赛投票</p>
                        <span>124 浏览</span>
                        <span>· 55 参与</span>
                        <span class="tag">投票</span>
                    </div>
                    <img src="http://jenes.site/resource/600x300space.jpg" alt="">
                </div>
                <div class="spacer-1x"></div>
                <div class="poster">
                    <div class="info">
                        <p>我也不知道填充点什么好</p>
                        <span>124 浏览</span>
                        <span>· 55 参与</span>
                        <span class="tag">投票</span>
                    </div>
                    <img src="http://jenes.site/resource/600x300pic.jpg" alt="">
                </div>
                <div class="spacer-1x"></div>
                <div class="poster">
                    <div class="info">
                        <p>寻找校园“云”达人</p>
                        <span>124浏览</span>
                        <span>· 4喜欢</span>
                        <span class="tag">宣传海报</span>
                    </div>
                    
                    <img src="http://jenes.site/resource/600x300supman.jpg" alt="">
                </div>
            </ion-content>
        </ion-slide>
        <!-- 生活 -->
        <ion-slide>
            <!-- 背景层快速拨号 -->
            <div class="fab-dial">
                <div ng-class="{'fab-bg': isShow}" ng-click="showDial()"></div>
                <div class="fab-group">
                    <ul class="fab-actions" ng-show="isShow">
                        <li>
                            <span>发布话题</span>
                            <i class="ion-pound"></i>
                        </li>
                        <li>
                            <span>写文章</span>
                            <i class="ion-edit"></i>
                        </li>
                        <li>
                            <span>随机读</span>
                            <i class="ion-shuffle"></i>
                        </li>
                    </ul>
                    <span class="fab-trigger" ng-click="showDial()">
                        <i class="icon ion-plus"></i>
                    </span>
                </div>
            </div>
            <ion-content has-bouncing="true" overflow-scroll="false" class="has-header bg">
                <ion-refresher pulling-text="下拉刷新" refreshing-text="拼命加载中..." on-refresh="slide.doRefresh()"></ion-refresher>
                <div class="spacer-1x"></div>
                <ion-card>
                    <div class="item item-body">
                        <b>吃货聚集地</b>
                        <p>天下吃货本一家，分享你的美食经历！</p>
                        <div style="display: inline-block;line-height:25px;margin: 0 0 5px 0;">
                            <img src="img/avatar.png" alt="" style="width:25px;height:25px;border-radius:50%;float:left;margin-right: 10px;">
                            <span style="vertical-align: middle;">二狗</span>
                        </div>
                        <span>吃喝</span>
                        <span>155关注</span>
                    </div>
                </ion-card>
            </ion-content>
        </ion-slide>
    </ion-slide-box>
    <ion-tabs class="tabs-top tabs-striped tabs-positive">
        <ion-tab ng-repeat="item in exploreTabs" on-select="selectTab($index)" title="{{item.name}}"></ion-tab>
    </ion-tabs>
</ion-view>
