<ion-view title="发现" id="explore">
	<ion-slide-box show-pager="false" on-slide-changed="slideChanged($index)">
		<!-- 精选 -->
        <ion-slide>
            <!-- 背景层快速拨号 -->
            <div class="fab-dial">
                <div ng-class="{'fab-bg': isShow}" ng-click="showDial()"></div>
                <div class="fab-group">
                    <ul class="fab-actions" ng-show="isShow">
                        <li>
                            <span>发布话题</span>
                            <i class="ion-pound"></i>
                        </li>
                        <li>
                            <span>写文章</span>
                            <i class="ion-edit"></i>
                        </li>
                        <li>
                            <span>随机读</span>
                            <i class="ion-shuffle"></i>
                        </li>
                    </ul>
                    <span class="fab-trigger" ng-click="showDial()">
                        <i class="icon ion-plus"></i>
                    </span>
                </div>
            </div>
            <ion-content has-padding="false" has-bouncing="true" overflow-scroll="false" class="has-header bg explore-choice">
                <ion-slide-box does-continue="true" auto-play="true" slide-interval="2000" show-pager="false" class="top-slide">
					<ion-slide>
						<img src="http://jenes.site/resource/topslider/600x225book.jpg">
					</ion-slide>
					<ion-slide>
						<img src="http://jenes.site/resource/topslider/600x225car.jpg">
					</ion-slide>
					<ion-slide>
						<img src="http://jenes.site/resource/topslider/600x225cards.jpg">
					</ion-slide>
				</ion-slide-box>
                <div class="choice-list">
                    <div class="item item-body">
                        <a href="#" class="publisher">
                            <img src="img/avatar.png" alt="">
                            <span>黑咖啡</span>
                        </a>
                        <a ui-sref="tabsController.choiceContent">
                            <h2 class="title"><b>界面的不同部分视图或包含界面的不同部分分为子视图或包含</b></h2>
                            <p class="describtion">Ionic遵循视图控制模式，通俗的理解和 Cocoa 触摸框架相似。在视图控制模式中，我们将界面的不同部分分为子视图或包含其他视图的制模式中，我们将界面的不同部分分</p>
                        </a>
                        <p class="hot">
                            <a href="#" class="like">25 赞</a>
                            <a href="#" class="comments">· 5 评论</a>
                        </p>
                    </div>
                </div>
                <div class="choice-list">
                    <div class="item item-body">
                        <a href="#" class="publisher">
                            <img src="img/avatar.png" alt="">
                            <span>黑咖啡</span>
                        </a>
                        <a href="#">
                            <h2 class="title"><b>界面的不同部分分为子视图或包含</b></h2>
                            <p class="describtion">Ionic遵循视图控制模式，通俗的理解和 Cocoa 触摸框架相似。在视图控制模式中，我们将界面的不同部分分为子视图或包含其他视图的...</p>
                        </a>
                        <p class="hot">
                            <a href="#" class="like">25 赞</a>
                            <a href="#" class="comments">· 5 评论</a>
                        </p>
                    </div>
                </div>
                <div class="choice-list">
                    <div class="item item-body">
                        <a href="#" class="publisher">
                            <img src="img/avatar.png" alt="">
                            <span>黑咖啡</span>
                        </a>
                        <a href="#">
                            <h2 class="title"><b>界面的不同部分分为子视图或包含</b></h2>
                            <img class="cover" src="http://jenes.site/resource/food.jpg" alt="">
                            <p class="describtion">Ionic遵循视图控制模式，通俗的理解和 Cocoa 触摸框架相似。在视图控制模式中，我们将界面的不同部分分为子视图或包含其他视图的...</p>
                        </a>
                        <p class="hot">
                            <a href="#" class="like">25 赞</a>
                            <a href="#" class="comments">· 5 评论</a>
                        </p>
                    </div>
                </div>
                <div class="choice-list">
                    <div class="item item-body">
                        <a href="#" class="publisher">
                            <img src="img/avatar.png" alt="">
                            <span>黑咖啡</span>
                        </a>
                        <a href="#">
                            <h2 class="title"><b>界面的不同部分分为子视图或包含</b></h2>
                            <p class="describtion">Ionic遵循视图控制模式，通俗的理解和 Cocoa 触摸框架相似。在视图控制模式中，我们将界面的不同部分分为子视图或包含其他视图的...</p>
                        </a>
                        <p class="hot">
                            <a href="#" class="like">25 赞</a>
                            <a href="#" class="comments">· 5 评论</a>
                        </p>
                    </div>
                </div>
                <div class="choice-list">
                    <div class="item item-body">
                        <a href="#" class="publisher">
                            <img src="img/avatar.png" alt="">
                            <span>黑咖啡</span>
                        </a>
                        <a href="#">
                            <h2 class="title"><b>界面的不同部分分为子视图或包含</b></h2>
                            <img class="cover" src="http://jenes.site/resource/food.jpg" alt="">
                            <p class="describtion">Ionic遵循视图控制模式，通俗的理解和 Cocoa 触摸框架相似。在视图控制模式中，我们将界面的不同部分分为子视图或包含其他视图的...</p>
                        </a>
                        <p class="hot">
                            <a href="#" class="like">25 赞</a>
                            <a href="#" class="comments">· 5 评论</a>
                        </p>
                    </div>
                </div>

            </ion-content>
        </ion-slide>
        <!-- 话题 -->
        <ion-slide>
            <!-- 背景层快速拨号 -->
            <div class="fab-dial">
                <div ng-class="{'fab-bg': isShow}" ng-click="showDial()"></div>
                <div class="fab-group">
                    <ul class="fab-actions" ng-show="isShow">
                        <li>
                            <span>发布话题</span>
                            <i class="ion-pound"></i>
                        </li>
                        <li>
                            <span>写文章</span>
                            <i class="ion-edit"></i>
                        </li>
                        <li>
                            <span>随机读</span>
                            <i class="ion-shuffle"></i>
                        </li>
                    </ul>
                    <span class="fab-trigger" ng-click="showDial()">
                        <i class="icon ion-plus"></i>
                    </span>
                </div>
            </div>
            <ion-content has-bouncing="true" overflow-scroll="false" class="has-header bg">
                <ion-refresher pulling-text="下拉刷新" on-refresh="slide.doRefresh()"></ion-refresher>
                <div class="topic-list">
                    <div class="item">
                        <a ui-sref="tabsController.topic">
                            <h2 class="title"><b>周边消费攻略</b></h2>
                            <p class="description">天下吃货本一家，分享你的美食经历！</p>
                        </a>
                        <a href="#" class="publisher">
                            <img src="img/avatar.png" alt="">
                            <span>黑咖啡</span>
                        </a>
                        <span class="follow">· 155关注</span>
                        <span class="tag">消费</span>
                    </div>
                </div>
                <div class="topic-list">
                    <div class="item">
                        <a href="#">
                            <h2 class="title"><b>周边消费费攻略攻略</b></h2>
                            <p class="description">天下吃货本一家，分享你的美食经历！天下吃货本一家，分享你的美食经历！天下吃货本一家，分享你的美食经历！</p>
                        </a>
                        <a href="#" class="publisher">
                            <img src="img/avatar.png" alt="">
                            <span>黑咖啡</span>
                        </a>
                        <span class="follow">· 155关注</span>
                        <span class="tag">驾校</span>
                    </div>
                </div>
                <div class="topic-list">
                    <div class="item">
                        <a href="#">
                            <h2 class="title"><b>周边消费攻略</b></h2>
                            <p class="description">天下吃货本一家，分享你的美食经历！</p>
                        </a>
                        <a href="#" class="publisher">
                            <img src="img/avatar.png" alt="">
                            <span>黑咖啡</span>
                        </a>
                        <span class="follow">· 155关注</span>
                        <span class="tag">租房</span>
                    </div>
                </div>
                <div class="topic-list">
                    <div class="item">
                        <a href="#">
                            <h2 class="title"><b>周边消费攻略费攻略</b></h2>
                            <p class="description">天下吃货本一家，分享你的美食经历！</p>
                        </a>
                        <a href="#" class="publisher">
                            <img src="img/avatar.png" alt="">
                            <span>黑咖啡</span>
                        </a>
                        <span class="follow">· 155关注</span>
                        <span class="tag">购物</span>
                    </div>
                </div>
                <div class="topic-list">
                    <div class="item">
                        <a href="#">
                            <h2 class="title"><b>周边消费攻略</b></h2>
                            <p class="description">天下吃货本一家，分享你的美食经历！</p>
                        </a>
                        <a href="#" class="publisher">
                            <img src="img/avatar.png" alt="">
                            <span>黑咖啡</span>
                        </a>
                        <span class="follow">· 155关注</span>
                        <span class="tag">兼职</span>
                    </div>
                </div>
            </ion-content>
        </ion-slide>
        <!-- 冒泡 -->
        <ion-slide>
            
            <ion-content has-bouncing="true" overflow-scroll="false" class="has-header explore-activity">
                
                
            </ion-content>
        </ion-slide>
    </ion-slide-box>
    <ion-tabs class="tabs-top tabs-striped tabs-positive">
        <ion-tab ng-repeat="item in exploreTabs" on-select="selectTab($index)" title="{{item.name}}"></ion-tab>
    </ion-tabs>
</ion-view>
