<ion-view title="我的关注" id="follow">
    <ion-nav-bar align-title="center" class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content has-bouncing="true" overflow-scroll="false" class="has-header bg follow">
        <ion-list>
            <ion-item class="item-avatar" ui-sref="tabsController.love">
                <img src="img/blank_class.png">
                <h2>河南理工青年团</h2>
                <p>来一场轰轰烈烈的爱情</p>
            </ion-item>
            <ion-item class="item-avatar" ui-sref="tabsController.map">
                <img src="img/score.png">
                <h2>河南理工青年团</h2>
                <p>校园那么大</p>
            </ion-item>
            <ion-item class="item-avatar" ui-sref="tabsController.love">
                <img src="img/blank_class.png">
                <h2>河南理工青年团</h2>
                <p>来一场轰轰烈烈的爱情</p>
            </ion-item>
            <ion-item class="item-avatar" ui-sref="tabsController.map">
                <img src="img/score.png">
                <h2>河南理工青年团</h2>
                <p>校园那么大</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>