<ion-view title="HPU" id="home">
    <ion-slide-box show-pager="false" on-slide-changed="slideChanged($index)">
        <!-- 推荐视图 -->
        <ion-slide>
            <ion-content has-bouncing="true" overflow-scroll="false" class="has-header">
                <ion-refresher pulling-text="下拉刷新" refreshing-text="拼命加载中..." on-refresh="slide.doRefresh()"></ion-refresher>
                <div class="list news-list">
                    <a ng-repeat="item in slide.items" class="item item-thumbnail-right item-text-wrap" ng-href="#/tabs/newsContent/{{item.objectId}}">
                        <img ng-src="http://pic.68ps.com/down/UploadFile/20131001/sc131001_1a.jpg" width="30" height="30" alt="">
                        {{item.title}}
                    </a>
                    helll
                </div>
                <ion-infinite-scroll ng-if="!slide.isload" on-infinite="slide.loadMore()" distance="1%">
                </ion-infinite-scroll>
            </ion-content>
        </ion-slide>
        <!-- 校内视图 -->
        <ion-slide>
            <ion-content has-bouncing="true" overflow-scroll="false" class="has-header">
                <ion-refresher pulling-text="下拉刷新" refreshing-text="拼命加载中..." on-refresh="slide.doRefresh()"></ion-refresher>
                <div class="list news-list">
                    <!-- <a ng-repeat="item in slide.items" class="item item-thumbnail-right item-text-wrap" ng-href="#/tabs/newsContent/{{item.objectId}}">
                        <img ng-src="{{item.cover}}" width="30" height="30" alt="">
                        {{item.title}}
                        <p>{{item.from}}</p>
                    </a> -->
                    123
                </div>
                <ion-infinite-scroll ng-if="!slide.isload" on-infinite="slide.loadMore()" distance="1%">
                </ion-infinite-scroll>
            </ion-content>
        </ion-slide>
        <!-- 公告视图 -->
        <ion-slide>
            <ion-content has-bouncing="true" overflow-scroll="false" class="has-header">
                    公告
                <ion-infinite-scroll ng-if="!slide.isload" on-infinite="slide.loadMore()" distance="1%">
                </ion-infinite-scroll>
            </ion-content>
        </ion-slide>
        <!-- 图说视图 -->
        <ion-slide>
            <ion-content has-bouncing="true" overflow-scroll="false" class="has-header">
                    图说
                    <ion-infinite-scroll ng-if="!slide.isload" on-infinite="slide.loadMore()" distance="1%">
                    </ion-infinite-scroll>
                </ion-infinite-scroll>
            </ion-content>
        </ion-slide>
        <!-- 招聘视图 -->
        <ion-slide>
            <ion-content has-bouncing="true" overflow-scroll="false" class="has-header">
                <div class="list">
                    <!-- <a ng-repeat="item in slide.items" class="item item-thumbnail-right item-text-wrap" ng-href="#/tabs/newsContent/{{item.objectId}}">
                        <img ng-src="{{item.cover}}" width="30" height="30" alt="">
                        {{item.title}}
                    </a> -->
                    456
                </div>
                <ion-infinite-scroll ng-if="!slide.isload" on-infinite="slide.loadMore()" distance="1%">
                </ion-infinite-scroll>
            </ion-content>
        </ion-slide>
    </ion-slide-box>
    <ion-tabs class="tabs-top tabs-striped tabs-positive">
        <ion-tab ng-repeat="item in tabs" on-select="selectedTab($index)" title="{{item.name}}"></ion-tab>
    </ion-tabs>
</ion-view>
