<ion-view title="消息通知" id="message">
	<ion-nav-bar align-title="center" class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content has-bouncing="true" overflow-scroll="false" class="has-header bg message">
		<div class="item">
			<p>
				<h2>系统消息</h2>
				<span>2016/12/31</span>
			</p>
			<p class="content">来自二狗的消息通知，请查看来自二狗的消息通知，请查看</p>
			<p>
				<i class="ion-android-notifications"></i>
				这里会有一一个指向来源链接的展示，让你快速导航
			</p>
		</div>
		<div class="item">
			<p>
				<h2>话题动态</h2>
				<span>2016/12/31</span>
			</p>
			<p class="content">来自二狗的消息通知，请查看来自二狗的消息通知，请查看</p>
			<p>
				<i class="ion-android-notifications"></i>
				这里会有一一个指向来源链接的展示，让你快速导航
			</p>
		</div>
		<div class="item">
			<p>
				<h2>社团活动</h2>
				<span>2016/12/31</span>
			</p>
			<p class="content">来自二狗的消息通知，请查看来自二狗的消息通知，请查看</p>
			<p>
				<i class="ion-android-notifications"></i>
				这里会有一一个指向来源链接的展示，让你快速导航
			</p>
		</div>

    </ion-content>
</ion-view>