<ion-view title="" id="newsContent">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content padding="true" has-bouncing="true" class="has-header news-content">
        <div class="loading" ng-show="loading">  
            <ion-spinner icon="lines" class="spinner-positive"></ion-spinner>
        </div>
        <div ng-hide="loading">
            <h2 id="newsContent-heading1">{{item.title}}</h2>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-pricetags-outline"></i>
                {{item.from}}&nbsp;{{item.created_at}} &nbsp;{{item.author}}
            </a>
            <hr>
            <div class="news-body" ng-bind-html="item.content"></div>
            
            <div class="spacer-x3"></div>
            <div class="news-footer">
                <a class="button button-outline button-balanced" ng-href="{{item.url}}">原文链接</a>
            </div> 
        </div>
    </ion-content>
</ion-view>