<ion-view title="比赛" id="page19">
    <ion-content padding="true" class="has-header">
        <ion-list id="page19-list30">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="了解校园比赛">
            </label>
            <ion-item class="item-thumbnail-left" id="page19-list-item63">
                <img src="img/ubfyKW9MQvem5e7xdYE7_back-school_meitu_2.jpg">
                <h2>科技比赛</h2>
                <p style="white-space:normal;">挑战杯，学科竞赛</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="page19-list-item64">
                <img src="img/ubfyKW9MQvem5e7xdYE7_back-school_meitu_2.jpg">
                <h2>科技比赛</h2>
                <p style="white-space:normal;">挑战杯，学科竞赛</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="page19-list-item65">
                <img src="img/ubfyKW9MQvem5e7xdYE7_back-school_meitu_2.jpg">
                <h2>科技比赛</h2>
                <p style="white-space:normal;">挑战杯，学科竞赛</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="page19-list-item66">
                <img src="img/ubfyKW9MQvem5e7xdYE7_back-school_meitu_2.jpg">
                <h2>科技比赛</h2>
                <p style="white-space:normal;">挑战杯，学科竞赛</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="page19-list-item67">
                <img src="img/ubfyKW9MQvem5e7xdYE7_back-school_meitu_2.jpg">
                <h2>科技比赛</h2>
                <p style="white-space:normal;">挑战杯，学科竞赛</p>
            </ion-item>
        </ion-list>
        <button id="page19-button35" class="button button-light  button-block button-clear">没有更多了</button>
    </ion-content>
</ion-view>