<ion-view title="社团" id="page22">
    <ion-content padding="true" class="has-header">
        <ion-list id="page22-list32">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="社团">
            </label>
            <ion-item class="item-thumbnail-left" id="page22-list-item73">
                <img src="img/ubfyKW9MQvem5e7xdYE7_back-school_meitu_2.jpg">
                <h2>社团宣传和通知</h2>
                <p style="white-space:normal;">社团了解校园</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="page22-list-item74">
                <img src="img/ubfyKW9MQvem5e7xdYE7_back-school_meitu_2.jpg">
                <h2>社团宣传和通知</h2>
                <p style="white-space:normal;">社团了解校园</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="page22-list-item75">
                <img src="img/ubfyKW9MQvem5e7xdYE7_back-school_meitu_2.jpg">
                <h2>社团宣传和通知</h2>
                <p style="white-space:normal;">社团了解校园</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="page22-list-item76">
                <img src="img/ubfyKW9MQvem5e7xdYE7_back-school_meitu_2.jpg">
                <h2>社团宣传和通知</h2>
                <p style="white-space:normal;">社团了解校园</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="page22-list-item77">
                <img src="img/ubfyKW9MQvem5e7xdYE7_back-school_meitu_2.jpg">
                <h2>社团宣传和通知</h2>
                <p style="white-space:normal;">社团了解校园</p>
            </ion-item>
        </ion-list>
        <button id="page22-button37" class="button button-light  button-block button-clear">没有更多了</button>
    </ion-content>
</ion-view>