<ion-view title="拍客" id="page24">
    <ion-content padding="true" class="has-header">
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/ubfyKW9MQvem5e7xdYE7_back-school_meitu_2.jpg" width="100%" height="150" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="list card" id="page24-card22">
            <ion-item class="item-avatar" id="page24-list-item80">
                <img src="img/7MF5wrYTGKzhe0Qz9hW8_hover.png">
                <h2>爱拍客</h2>
                <p>理工宣传</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/GXsYs1A6Syy7sqJ5pfKu_city.jpg" width="100%" height="250" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body" id="page24-list-item-container12">
                <div id="page24-markdown9" style="margin-top:0px;color:#000000;">
                    <p>理工宣传片</p>
                </div>
            </div>
            <ion-item class="item-icon-left assertive" id="page24-list-item81">
                <i class="icon ion-ios-videocam"></i>Play MV</ion-item>
        </div>
        <div class="list card" id="page24-card27">
            <ion-item class="item-avatar" id="page24-list-item83">
                <img src="img/7MF5wrYTGKzhe0Qz9hW8_hover.png">
                <h2>爱拍客</h2>
                <p>理工宣传</p>
            </ion-item>
            <div class=" item item-image">
                <img src="img/GXsYs1A6Syy7sqJ5pfKu_city.jpg" width="100%" height="250" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="item item-body" id="page24-list-item-container15">
                <div id="page24-markdown11" style="margin-top:0px;color:#000000;">
                    <p>理工宣传片</p>
                </div>
            </div>
            <ion-item class="item-icon-left assertive" id="page24-list-item84">
                <i class="icon ion-ios-videocam"></i>Play MV</ion-item>
        </div>
    </ion-content>
</ion-view>