<ion-view title="反馈" id="page31">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="width: 300px; height: 21px;"></div>
        <form id="page31-form13" class="list">
            <label class="item item-input" id="page31-input8">
                <span class="input-label">称呼</span>
                <input type="text" placeholder="尊姓大名">
            </label>
            <label class="item item-input" id="page31-input9">
                <span class="input-label">QQ</span>
                <input type="number" placeholder="QQ号">
            </label>
            <label class="item item-input" id="page31-textarea2" name="feedback">
                <span class="input-label">反馈</span><textarea placeholder="提交你的反馈吧！"></textarea>
            </label>
            <div class="spacer" style="width: 300px; height: 39px;"></div>
            <button id="page31-button13" class="button button-positive  button-block">反馈</button>
        </form>
    </ion-content>
</ion-view>