<ion-view title="个人中心" id="profile">
    <ion-nav-bar class="bar bar-header bar-positive"></ion-nav-bar>
    <ion-content has-bouncing="true" overflow-scroll="false" class="has-header bg profile">
        <div class="spacer-1x"></div>
        <ion-list class="">
            <ion-item class="item-avatar" ui-sref="setting">
                <img src="img/avatar.png">
                <h2>王江山</h2>
                <p class="nick">昵称: Jeneser</p>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-icon-left">
                <i class="icon ion-ios-chatbubble"></i>
                <h4 class="title">我的消息</h4>
                <span class="badge badge-assertive">0</span>
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ios-compose"></i>
                <h4 class="title">我的发布</h4>
            </ion-item>
            <ion-item class="item-icon-left">
                <i class="icon ion-ios-heart"></i>
                <h4 class="title">我的关注</h4>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-icon-left" ui-sref="binding">
                <i class="icon ion-ios-locked"></i>
                <h4 class="title">密码绑定</h4>
                <span class="item-note">未完成</span>
            </ion-item>
            <ion-item class="item-icon-left" ui-sref="setting">
                <i class="icon ion-ios-gear"></i>
                <h4 class="title">设置</h4>
            </ion-item>
            <ion-item class="item-icon-left" ui-sref="about">
                <i class="icon ion-ios-information"></i>
                <h4 class="title">关于</h4>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
