<ion-view title="我的发布" id="publish" hide-tabs="true">
    <ion-nav-bar align-title="center" class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content has-bouncing="true" overflow-scroll="false" class="has-header bg publish">
        <ion-list>
            <ion-item class="item-avatar">
                <i class="ion-bookmark"></i>
                <h2>这里是发布的文章标题</h2>
                <p>话题　25评</p>
            </ion-item>
            <ion-item class="item-avatar">
                <i class="ion-stats-bars"></i>
                <h2>这里是发布投票标题</h2>
                <p>投票　25人投票</p>
            </ion-item>
            <ion-item class="item-avatar">
                <i class="ion-bookmark"></i>
                <h2>这里是发布的文章标题</h2>
                <p>话题　25评</p>
            </ion-item>
            <ion-item class="item-avatar">
                <i class="ion-stats-bars"></i>
                <h2>这里是发布投票标题</h2>
                <p>投票　25人投票</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>