<ion-view title="学霸君" id="saike">
	<ion-nav-bar class="bar bar-header bar-positive" align-title="center"></ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <button id="" class="button button-light button-block">学习平台</button>
        <button id="page10-button60" class="button button-positive  button-block" ng-click="loadbarcode()">二维码</button>
        <button id="" class="button button-positive  button-block" ng-click="loadurl()">链接</button>
        <button id="" class="button button-positive  button-block mytest" ng-click="showConfirm()">弹出Confirm</button>
        <button id="" class="button button-positive  button-block mytest" ng-click="getNetwork()">网络</button>
    </ion-content>
</ion-view>
