<ion-view title="设置" id="setting" hide-tabs="true">
    <ion-nav-bar align-title="center" class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content has-bouncing="true" overflow-scroll="false" class="has-header bg setting">
        <div class="spacer-1x"></div>
        <ion-list>
            <ion-item class="item item-avatar" ui-sref="tabsController.changeVatar">
                <img src="img/avatar.png">
                <h2>头像</h2>
                <p>点击更换</p>
            </ion-item>
            <ion-item>
                昵称
                <span class="item-note">Jenes</span>
            </ion-item>
            <ion-item>
                姓名
                <span class="item-note">王江山</span>
            </ion-item>
            <ion-item>
                学号
                <span class="item-note">311545785147</span>
            </ion-item>
            <ion-item>
                职称
                <span class="item-note">学生</span>
            </ion-item>
            <ion-item>
                邮箱
                <span class="item-note">1668358930@qq.com</span>
            </ion-item>
        </ion-list>
        <div class="spacer-1x"></div>
        <ion-list>
            <ion-item>
                清除缓存
            </ion-item>
        </ion-list>
        <div class="spacer-3x"></div>
        <div class="button-group">
            <button class="button button-assertive button-block button-outline">退出登陆</button>            
        </div>
    </ion-content>
</ion-view>