<ion-view title="注册" id="sign">
    <ion-content padding="true" class="has-header">
        <form id="page6-form4" class="list">
            <ion-list id="page6-list9">
                <label class="item item-input" id="page6-input3">
                    <span class="input-label">用户名</span>
                    <input type="text" placeholder="请输入用户名">
                </label>
                <label class="item item-input" id="page6-input4">
                    <span class="input-label">学号</span>
                    <input type="number" placeholder="一卡通号">
                </label>
                <label class="item item-input" id="page6-input5">
                    <span class="input-label">密码</span>
                    <input type="password" placeholder="教务处密码">
                </label>
                <label class="item item-input" id="page6-input14">
                    <span class="input-label">确认密码</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 45px;"></div>
            <button id="page6-button11" class="button button-balanced  button-block">注册</button>
        </form>
    </ion-content>
</ion-view>