<ion-view title="实用工具" id="tools">
    <ion-slide-box show-pager="false" on-slide-changed="slideChanged($index)">
        <!-- 常用工具 -->
        <ion-slide>
            <ion-content has-bouncing="true" overflow-scroll="false" class="has-header">
                <div class="spacer-2x"></div>
                <ion-card>
                    <div class="item item-body">
                        <div class="week">
                            <span>第十三周</span>
                            <span>星期三</span>
                        </div>
                        <div class="course">
                            <span>
                                <i>1-2</i>
                                <i>08:00</i>
                            </span>
                            <span>
                                <i>概率论与数理统计</i>
                                <i>1号教学楼1403</i>
                                <i class="ion-location"></i>
                            </span>
                            
                        </div>
                        <div class="course">
                            <span>
                                <i>1-2</i>
                                <i>08:00</i>
                            </span>
                            <span>
                                <i>大学英语</i>
                                <i>1号教学楼1403</i>
                                <i class="ion-location"></i>
                            </span>
                            
                        </div>
                        <div class="course">
                            <span>
                                <i>1-2</i>
                                <i>08:00</i>
                            </span>
                            <span>
                                <i>马克思主义</i>
                                <i>1号教学楼1403</i>
                                <i class="ion-location"></i>
                            </span>
                            
                        </div>
                        <div class="course">
                            <span>
                                <i>1-2</i>
                                <i>08:00</i>
                            </span>
                            <span>
                                <i>java高级程序设计</i>
                                <i>1号教学楼1403</i>
                                <i class="ion-location"></i>
                            </span>
                            
                        </div>
                    </div>
                </ion-card>
                <div class="spacer-2x"></div>
                <div class="tools-group1">
                    
                    <div class="row">
                        <div class="col">
                            <div class="tools-pic">
                                <img src="img/notes.png" alt="">
                            </div>
                            <h2><b>成绩查询</b></h2>
                            <p>本学期、历年</p>
                        </div>
                        <div class="col">
                            <div class="tools-pic">
                                <img src="img/graduation.png" alt="">
                            </div>
                            <h2><b>四六级</b></h2>
                            <p>查询</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="tools-pic">
                                <img src="img/desk-lamp.png" alt="">
                            </div>
                            <h2><b>空闲教室</b></h2>
                            <p>去自习</p>
                        </div>
                        <div class="col">
                            
                        </div>
                    </div>
                </div>
                <div class="spacer-2x"></div>
                <div class="tools-group1">
                    <div class="row">
                        <div class="col">
                            <div class="tools-pic">
                                <img src="img/id-card.png" alt="">
                            </div>
                            <h2><b>一卡通</b></h2>
                            <p>查询、找回</p>
                        </div>
                        <div class="col">
                            <div class="tools-pic">
                                <img src="img/trophy.png" alt="">
                            </div>
                            <h2><b>图书馆</b></h2>
                            <p>我要上自习</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="tools-pic">
                                <img src="img/owl.png" alt="">
                            </div>
                            <h2><b>报修</b></h2>
                            <p>本学期、历年</p>
                        </div>
                        <div class="col">
                            <!-- <div class="tools-pic">
                                <img src="img/time_table.png" alt="">
                            </div>
                            <h2><b>课程表</b></h2>
                            <p>课程小助手</p> -->
                        </div>
                    </div>
                </div>

                
                
            </ion-content>
        </ion-slide>
        <ion-slide>
            <ion-content class="has-header">
                <!-- 最爱 -->
                <div class="list has-header">
                
                    最爱
                </div>
                
            </ion-content>
        </ion-slide>
    </ion-slide-box>
    <ion-tabs class="tabs-top tabs-striped tabs-positive">
        <ion-tab ng-repeat="item in toolsTabs" on-select="selectTab($index)" title="{{item.name}}"></ion-tab>
    </ion-tabs>
</ion-view>
